.trending {
    display: flex;
    flex-direction: column;
    color: rgb(113, 118, 123);
    transition: .3s;
    padding: 10px 10px;
    border-radius: 16px;

    &:hover {
        background-color: #222;
    }

    p {
        margin: 0;
    }

    h2 {
        color: white;
    }
}

.trendtitle {
    font-size: 1.1rem;
    color: white
}