@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.ant-layout-header,
.ant-layout-footer,
.ant-row,
body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #111;
}

.ant-popover-content {
  box-shadow: 0 4px 40px rgb(119 132 157 / 20%);
}

.ant-popover-arrow-content {
  --antd-arrow-background-color: #000;
}

.ant-card-meta-title {

  font-weight: 200;
  font-size: 1.4rem;

}

.ant-card-meta-description p {
  font-weight: 200;
}

.ant-popover-inner-content,
.ant-popover-title {
  color: white;
  border-bottom: none;
}

.ant-popover-inner {
  background-color: #000;
  color: white;

}

.ant-card {
  color: white;
  background: #111;
  margin: 10px 0;
}

.ant-card-head {
  border-bottom: none;

}

.ant-card-meta-detail>div:not(:last-child) {
  margin-bottom: 0;
}

.ant-spin {
  color: #690232;
}


.ant-avatar {
  height: 66px;
  width: 66px;
}

.ant-card-meta {
  width: fit-content;
}

.ant-card-meta-title {
  color: white;
}

.ant-card-body {
  font-size: 1rem;
}

.ant-card-bordered {
  border: none;
}

.ant-card-meta-avatar {
  margin-bottom: 10px;
}

.ant-card {
  transition: .5s;
}

.ant-card:hover {
  background-color: #222;
}

.ant-card-meta-description {
  color: grey
}


.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #480323 !important;
}

.ant-form-item-label>label {
  color: white;
}

.ant-menu-item:hover {
  background-color: #222 !important;
}

.ant-menu-item,
.ant-menu-item-selected {

  border-radius: 16px;
}

.primary,
.ant-btn-primary {

  border-color: #480323 !important;
  background: #480323 !important;
}

.ant-card {
  border-radius: 16px;

}

.ant-divider-horizontal.ant-divider-with-text {
  color: white;
  font-size: 22px;
  border-top-color: #870641 !important;
  font-weight: 700;

}

.ant-menu-item-selected:hover,
.primary:hover,
.ant-btn-primary:hover,
.ant-btn-primary:focus {

  border-color: #690232 !important;
  background: #690232 !important;
}

.ant-input:hover {
  border-color: #690232 !important;

}

.ant-form-item-control-input {
  min-height: unset;
}

.ant-form-item-label,
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.ant-modal-footer .ant-btn {
  color: white;
  border-color: transparent;
  background: #111;

}

.ant-modal .ant-btn:hover,
.ant-modal .ant-btn:focus {

  color: white;
  border-color: #480323;
}

.ant-modal-close-icon {
  color: white;
}

.ant-modal-footer {
  border-top: none;

}

.ant-modal-body,
.ant-modal-header {
  border-bottom: 1px solid #870641;

}

.ant-modal-title,
.ant-modal-header,
.ant-modal,
.ant-modal-content {
  color: white;
  background-color: #111;
}

.ant-page-header-heading-sub-title {
  color: grey;
}

.ant-page-header-heading-title {
  color: white;
}

.ant-layout-header .ant-affix {
  background-color: #111;
}

.ant-layout-header {
  padding: 0;
}

.ant-menu-item {
  font-size: 1rem;
}

.ant-input-affix-wrapper {
  color: white;
  background-color: #111;
  border: 2px solid #480323;
}

.ant-input {
  color: white !important;
  background-color: #111 !important;
  border: 2px solid #480323;

}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input:hover {
  border-color: #710336;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover,
input#normal_login_email.ant-input {
  background: #111;
  background-color: #111;
}

.ant-message-success .anticon {

  color: #480323 !important;
}

.ant-message-notice-content {
  color: white;
  background-color: #111;
}

.ant-card-meta-description {
  display: flex;
  justify-content: space-between;

}

#nest-messages.ant-form-horizontal.tweet-form {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.ant-col-16,
.ant-col-8 {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

.GuestVisitor_guestvisitorcontainer__g06RA .ant-btn {
  width: 100%;
  padding: 20px;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  color: white;
  border-color: transparent;
  background: #111;
}

#nest-messages_tweet {

  background: #111;
  border: 3px solid #480323;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
}

.ant-card-body:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 1.2rem !important;
}

footer a:hover {
  color: #480323;
}

.__next-auth-theme-auto .card {
  border: none;
}